[Desktop Entry]
Categories=System;
Comment=The JaguOS Welcome Screen
Exec=/usr/share/welcome-screen/welcome-screen
GenericName=Welcome Screen
Icon=org.kde.plasma.icontasks
Name=Welcome Screen
NoDisplay=false
StartupNotify=true
StartupWMClass=welcome-screen
Terminal=false
Type=Application
