[Desktop Entry]
Categories=System;
Comment=The Norcux OS Welcome Screen
Exec=/usr/bin/welcome-screen
GenericName=Welcome Screen
Icon=korganizer
Name=Welcome Screen
NoDisplay=false
StartupNotify=true
StartupWMClass=welcome-screen
Terminal=false
Type=Application
